<h1>My Bookings</h1>
<% if (bookings.length === 0) { %>
  <p>You have no bookings yet.</p>
<% } else { %>
  <ul>
    <% bookings.forEach(booking => { %>
      <li>
        <strong><%= booking.trip.title %></strong> - $<%= booking.trip.price %><br>
        Country: <%= booking.trip.country?.name || 'N/A' %>
      </li>
    <% }) %>
  </ul>
<% } %>

