<!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8" />
     <title>Add New Country</title> <link rel="stylesheet" href="/homepage.css" /> 
    </head> <body> <h1>Add New Country</h1> <form action="/admin/countries" method="POST">
         <div> <label for="name">Country Name:</label> <input type="text" name="name" id="name" required /> </div>


<button type="submit">Add Country</button>
</form> </body> </html>